services:
  database:
    image: postgres:17-alpine
    container_name: telegram-mini-app-database-${VERSION}
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    expose:
      - 5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - proxy

  server:
    build:
      context: ./server
      args:
        DATABASE_URL: ${DATABASE_URL}
    container_name: telegram-mini-app-server-${VERSION}
    environment:
      DATABASE_URL: ${DATABASE_URL}
      TELEGRAM_BOT_TOKEN: ${TELEGRAM_BOT_TOKEN}
    expose:
      - 3000
    depends_on:
      - database
    networks:
      - proxy

  admin:
    build: ./admin
    container_name: telegram-mini-app-admin-${VERSION}
    expose:
      - 80
    networks:
      - proxy

  client:
    build: ./client
    container_name: telegram-mini-app-client-${VERSION}
    expose:
      - 80
    networks:
      - proxy

volumes:
  postgres_data:

networks:
  proxy:
    external: true
